*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins',sans-serif;
}

body{
   background-color: #7a7adb;
   background-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);

}
.home{
}
.headerimg{
	border-radius:50%;
	height:500px;
	
}

.home-content{
	max-width:600px;
}

.home-content h3{
	font-size:32px;
	font-weight:700;
	color:white;
}

.home-content h1{
	font-size:45px;
	font-weight:700;
	margin:-3px 0;
	color:white;
}

.home-content p{
	font-size:20px;
	color:white;
}

.home-sci a{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	width:40px;
	height:40px;
	background:transparent;
	border:2px solid #0ef;
	border-radius:50%;
	font-size:20px;
	color:#0ef;
	text-decoration:none;
	margin:30px 15px 30px 0;
}

.home-sci a:hover{
	background:#0ef;
	color:#081b29;
	box-shadow:0 0 20px #0ef; 
}

.btn-box{
	display:inline-block;
	padding:12px 28px;
	background:#0ef;
	border-radius:40px;
	font-size:16px;
	color:#081b29;
	letter-spacing:1px
	text-decoration:none;
	font-weight:600;
}



.btn-box:hover{
	box-shadow:0 0 5px #0ef,
	0 0 25px #0ef, 0 0 50px #0ef,
	0 0 100px #0ef, 0 0 200px #0ef
}


.slide-left{
	animation: slide-left 1s linear forwards;
}
@keyframes slide-left{
	0%{
		transform:translate(100px);
		opacity:0;
	}
	
	100%{
		transform:translate(0px);
		opacity:1;
	}
}


.home-sci{
	animation: home-sci 1.2s linear forwards;
}
@keyframes home-sci{
	0%{
		transform:translate(100px);
		opacity:0;
	}
	
	100%{
		transform:translate(0px);
		opacity:1;
	}
}



.btn-box{
	animation: btn-box 1.3s linear forwards;
}
@keyframes btn-box{
	0%{
		transform:translate(100px);
		opacity:0;
	}
	
	100%{
		transform:translate(0px);
		opacity:1;
	}
}











#about{
	padding:80px 0 0 0;
	color:#ababab;
}

.row{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.about-col-1{
    flex-basis:40%;	
	margin-left:100px;
}

.about-col-2{
	flex-basis:40%;
}
.about-col-2 img{
	height:500px;
	width:60%;
	border-radius:15px;
}

.tab-titles{
	display:flex;
	margin:20px 0 40px;
}

.tab-links{
	margin-right:50px;
	font-size:18px;
	font-weight:500;
	cursor:pointer;
	position:relative;
}

.tab-links::after{
	content:'';
	width:0;
	height:3px;
	background:#ff004f;
	position:absolute;
	left:0;
	bottom:-8px;
	transition:0.5s;
}

.tab-links.active-link::after{
	width:50%;
	
}

.tab-contents ul li{
	list-style:none;
	margin:5px 0;
}

.tab-contents ul li span{
	color:#b54769;
	font-size:14px;
}

.tab-contents{
	display:none;
}

.tab-contents.active-tab{
	display:block;
}






 #portfolio{
	padding:80px 100px; 
 }
 
 .work-list{
	display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
	grid-gap:40px;
	margin-top:50px;
 }

.work{
	border-radius:10px;
	position:relative;
	overflow:hidden;
}

.work img{
	width:100%;
	border-radius:10px;
	display:block;
	transition:transform 0.5s;
}

.layer{
	width:100%;
	height:0;
	background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
	border-radius:10px;
	position:absolute;
	left:0px;
	bottom:0px;
	overflow:hidden;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	padding:0 40px;
	text-align:center;
	font-size:14px;
	transition:height 0.5s;
}

.layer h3{
	font-weight:500;
	margin-bottom:20px;
} 

.layer a{
	margin-top:20px;
	color:#ff004f;
	text-decoration:none;
	font-size:18px;
	line-height:60px;
	background:#fff;
	width:60px;
	height:60px;
	border-radius:50%;
}   

.work:hover img{
	transform:scale(1.1);
}

.work:hover .layer{
	height:100%;
	
}








.contact-left{
	flex-basis:35%;
	
}

.contact-right{
	flex-basis:60%;	
	margin-left:50px;
}

.sub-title{
	margin-left:70px;
}

.contact-left p{
	margin-top:30px;
	margin-left:50px;
}

.contact-left p i{
	color:#ff004f;
	margin-right:15px;
	font-size:25px;
}

.social-icons a{
	text-decoration:none;
	font-size:30px;
	margin-right:15px;
	margin-top:30px;
	color:#ababab;
	display:inline-block;
	padding-left:60px;
}

.social-icons a:hover{
	color:#ff004f;
	transform:translateY(-5px);
}

.btn.btn2{
	display:inline-block;
	background:#ff004f;
	margin-left:60px;
	margin-top:130px;
}

.contact-right form{
	width:100%;
}

.frm form input, form textarea{
	width:70%;
	border:0;
	outline:none;
	background:#262626;
	padding:15px;
	margin:15px;
	color:#fff;
	font-size:18px;
	border-radius:6px;
}

 form .btn2{
	margin-top:40px;
	font-size:18px;
	cursor:pointer; 
}

.copyright{
	width:100%;
	text-align:center;
	padding:25px 0;
	background:#262626;
	font-weight:300;
}

.copyright i{
	color:#ff004f;
}

.navbar navbar-expand-lg{
	  background-color: #7a7adb;
}






/*---------------css for small screen------------*/



 
 
 .img-fluid{
	 height:60% !important;
	 width:60%;
	 border-radius:10px;
	 margin-left:100px;	
 }

.container-fluid ph{
	color:white;
}

#about .p1{
	 z-index:5;
}